# CRC Make-A-Thon Crash Course - API Number Exercise - Answers

Lets pick a API_14 number and assign it to a string variable.

In [1]:
API_14 = '04030565740000'
print(API_14)

04030565740000

Lets then use API_14 to split the sting and find API_12, API_10, and API_8

In [2]:
API_12 = API_14[:12]
print(API_12)

API_10 = API_14[:10]
print(API_10)

API_8 = API_14[2:-4]
print(API_8)

040305657400
0403056574
03056574

## Exercise 1:
## Lets present the results in a few ways

### 1. Try presenting  the results in a simple way by inserting the results into strings.

 '\t' creates a tab seporator within the string.

In [20]:
#example
value = '#####'
print('Name:\t' + value)

Name:	#####

In [4]:
#Answer
print('API_14:\t' + API_14)
print('API_12:\t' + API_12)
print('API_10:\t' + API_10)
print('API_8:\t' + API_8)

API_14:	04030565740000
API_12:	040305657400
API_10:	0403056574
API_8:	03056574

### 2. Try presenting the results by passing the API strings to one string statement.

 '\n' creates a new line within the string.

In [5]:
#example
str1 = '{}:\t{}'.format('Name1', value)
str2 = '{}:\t{}'.format('Name2', value)
statement = str1 + '\n' + str2 
print(statement)

Name1:	#####
Name2:	#####

In [6]:
#Answer
str1 = '{}:\t{}'.format('API_14', API_14)
str2 = '{}:\t{}'.format('API_12', API_12)
str3 = '{}:\t{}'.format('API_10', API_10)
str4 = '{}:\t{}'.format('API_8', API_8)

statement = str1 + '\n' + str2 + '\n' + str3 + '\n' + str4
print(statement)

API_14:	04030565740000
API_12:	040305657400
API_10:	0403056574
API_8:	03056574

### 3. Try presenting the results by iterating over a list of the results.

First create two lists for our API varible names and values. Then use a for loop to print API_no and API_vlaue iterating over a range from 0 to length of API names.

In [7]:
#example
Names = ['Name1','Name2']
print(Names)

Values = ['####','####']
print(Values)

['Name1', 'Name2']
['####', '####']

In [8]:
#example
r = range(0, len(Names))

for i in r:
    print('{}:\t{}'.format(Names[i],Values[i]))

Name1:	####
Name2:	####

In [9]:
#Answer
API_names = ['API_14','API_12','API_10','API_8']
print(API_names)

API_values = [API_14, API_12, API_10, API_8]
print(API_values)

['API_14', 'API_12', 'API_10', 'API_8']
['04030565740000', '040305657400', '0403056574', '03056574']

In [10]:
#Answer
r = range(0, len(API_names))

for i in r:
    print('{}:\t{}'.format(API_names[i],API_values[i]))

API_14:	04030565740000
API_12:	040305657400
API_10:	0403056574
API_8:	03056574

### 4. Try presenting the results by iterating over a dictionary of the results

First create a dictionary of our API variables. Then use a for loop to print API variables iterating through the  dict.

In [11]:
#example
Name_dict = {'Name1':'#####', 'Name2':'#####'}
print(Name_dict)

{'Name1': '#####', 'Name2': '#####'}

In [12]:
#example
for key, value in Name_dict.items():
    print('{}:\t{}'.format(key,value))

Name1:	#####
Name2:	#####

In [13]:
#Answer
API_dict = {'API_14':API_14, 'API_12':API_12, 'API_10':API_10, 'API_8':API_8}
print(API_dict)

{'API_14': '04030565740000', 'API_12': '040305657400', 'API_10': '0403056574', 'API_8': '03056574'}

In [14]:
#Answer
for key, value in API_dict.items():
    print('{}:\t{}'.format(key,value))

API_14:	04030565740000
API_12:	040305657400
API_10:	0403056574
API_8:	03056574

# Exercise 2: 
# Lets assume our well was redrilled and will need an updated API_14.

For redrilled wells the API_12 value updates by 1. Therefore 04030565740000 becomes 04030565740100.

### 1. Try updating the API_14 using a sting replace.

In [23]:
# example
Name = 'James'
new_Name = Name.replace('es','ie')
print('new_Name:\t' + new_Name)

new_Name:	Jamie

In [15]:
#Answer
API_14 = '04030565740000'
new_API_14 = API_14.replace('0000','0100')

print('org_API_14:\t' + API_14)
print('new_API_14:\t' + new_API_14)

org_API_14:	04030565740000
new_API_14:	04030565740100

### 2. Try updating the API_14 by finding the API_10 and add the updated last four values.

In [25]:
#example
Name = '012345'
Name = Name[:2]
new_Name = Name + '678'

print('new_Name:\t' + new_Name)

new_Name:	01678

In [16]:
#Answer
API_10 = API_14[:10]
new_API_14 = API_10 + '0100'

print('org_API_14:\t' + API_14)
print('new_API_14:\t' + new_API_14)

org_API_14:	04030565740000
new_API_14:	04030565740100

### 3. Try updating the API_14 by splitingthe API_14 before and after the 12 value.

In [26]:
#example
Name = '012345'
new_Name = Name[:2] + '1' + Name[3:]

print('new_Name:\t' + new_Name)

new_Name:	011345

In [17]:
#Answer
new_API_14 = API_14[:11] + '1' + API_14[12:]

print('org_API_14:\t' + API_14)
print('new_API_14:\t' + new_API_14)

org_API_14:	04030565740000
new_API_14:	04030565740100

###  4. FYI. We can also change the API_12 directly by first turning the string to a list and replace the 12th number then joining the list back to one string.

In [18]:
#Answer
s = list(API_14)
s[11] = '1'
new_API_14 = ''.join(s)

print('org_API_14:\t' + API_14)
print('new_API_14:\t' + new_API_14)

org_API_14:	04030565740000
new_API_14:	04030565740100